name: Playwright Tests
on:
  workflow_dispatch:
  schedule:
    - cron: "1,31,51 0-3,9-23 * * 1,3,5,6"
    - cron: "12,38,53 0-2,9-23 * * 0,2,4"
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: ~/.cache/ms-playwright
        key: ${{ runner.os }}-playwright-${{ hashFiles('**/package-lock.json') }}
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps chromium
    - name: Create .env file
      run: |
        touch .env
        echo "EMAIL=${{ secrets.EMAILOVO }}" >> .env
        echo "PASSWORD=${{ secrets.PASSWORDOVO }}" >> .env
        echo "MAX_FUEL_PRICE=${{ vars.MAX_FUEL_PRICE }}" >> .env
        echo "MAX_CO2_PRICE=${{ vars.MAX_CO2_PRICE }}" >> .env
    - name: Run Playwright tests
      run: npx playwright test
    # - uses: actions/upload-artifact@v4
    #   if: always()
    #   with:
    #     name: playwright-report
    #     path: playwright-report/
    #     retention-days: 1
